@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-black: #000;
  --color-bg: #a7a7a7;
  --color-bg1: #efefef;
  --color-bg2: #e39531;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 95%;

  --transition: all 0.4s ease-in-out;
}

.body {
  background: var(--color-bg1);
  line-height: 1.7;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.containers {
  max-width: 1220px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
a {
  color: white;
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.active {
  width: 100%;
  color: var(--color-bg2);
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: -38px;
  left: 0;
  z-index: 100;
  background: var(--color-bg2);
}

header {
  background-color: var(--color-bg1);
}

.navLine {
  top: -150%;
  left: -60px;
  transform: perspective(500px) rotateY(45deg);
}

/* Categories */
.textMiddle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 16;
  transform: translate(-50%, -50%);
}

.womenCategory::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
}

.square {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.square .squareTop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}
.square .squareRight {
  position: absolute;
  right: 0;
  width: 25px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.square .squareBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

.square .squareLeft {
  position: absolute;
  left: 0;
  width: 25px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
/* Slider */

.slider-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.5s;
}

.slide {
  flex: 0 0 25%;
  margin-right: 1rem;
}

.productCondition {
  z-index: 100;
}

.productCondition::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -5px;
  width: 40px;
  height: 40px;
  z-index: -1;
  transform: rotate(135deg);
  background-color: #e39531;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  width: 5%;
}

.headerSquare {
  position: relative;
  z-index: 10;
}
.headerSquare::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  width: 15px;
  height: 15px;
  z-index: 100;
  transform: rotate(135deg);
  background-color: #e39531;
}

.cartBox {
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}
.cartBox i {
  font-size: 18px;
  color: white;
}

.cartBox .cart {
  position: relative;
  z-index: 100;
}
.cartBox .cart::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -70%;
  left: -70%;
  z-index: -1;
  cursor: pointer;
  transform: rotate(135deg);
  border: 1px solid white;
  transition: var(--transition);
}

.cartcontainer:hover .cartBox {
  visibility: visible;
}

.cartBox .cart:hover::after {
  background-color: #e39531;
}
/* Tab */
.tab-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tab-button.actives {
  color: #e39531;
}

.tab-content {
  display: none;
  padding: 10px;
}

.tab-content.actives {
  display: block;
}

.cartBoxs {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}
.cartBoxs i {
  font-size: 18px;
  color: white;
}

.cartBoxs .cart {
  position: relative;
  z-index: 100;
}
.cartBoxs .cart::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -70%;
  left: -70%;
  z-index: -1;
  cursor: pointer;
  transform: rotate(135deg);
  border: 1px solid white;
  transition: var(--transition);
}

.cartcontainer:hover .cartBoxs {
  visibility: visible;
}

.cartBoxs .cart:hover::after {
  background-color: #e39531;
}

/* Footer */

.ftrIcon {
  padding: 10px;
  border: 1px solid white;
  border-radius: 100%;
}

/* =====Tablet Start responsive Here===== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .square {
    display: none;
  }
  .slide {
    flex: 0 0 33.33%; /* Display 3 slides on tablets */
  }
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-6 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*=====Media query mobile version=====*/
@media screen and (max-width: 576px) {
  .container {
    width: var(--container-width-sm);
  }
  .square {
    display: none;
  }
  .slide {
    flex: 0 0 50%; /* Display 2 slides on phones */
  }
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-6 {
    grid-template-columns: repeat(2, 1fr);
  }
}
